<!DOCTYPE HTML>
<html>
	<head>
	<title>IamRapid</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="csscart/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="csscart/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="csscart/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="csscart/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="csscart/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="csscart/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="csscart/owl.carousel.min.css">
	<link rel="stylesheet" href="csscart/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="csscart/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="csscart/style.css">
	
	  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
  <header id="header" style = "background-color: black;">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/contact-us">Contact Us</a></li>
          <!--<%console.log("from EJS");%>-->
<%console.log(user)%>
<%if (user == false){%>
          <li><a href="/register">Login or Signup</a></li>
<% }else{ %>
<li><a href="/">Hi <%=user%></a></li>
<li><a href="/uploadfile">My uploads</a></li>
<li><a href="/mycart">Cart</a></li>
<% } %>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
		<!--<nav class="colorlib-nav" role="navigation">-->
		<!--	<div class="top-menu">-->
		<!--		<div class="container">-->
		<!--			<div class="row">-->
		<!--				<div class="col-sm-7 col-md-9">-->
		<!--					<div id="colorlib-logo"><a href="index.html">Footwear</a></div>-->
		<!--				</div>-->
		<!--				<div class="col-sm-5 col-md-3">-->
		<!--	            <form action="#" class="search-wrap">-->
		<!--	               <div class="form-group">-->
		<!--	                  <input type="search" class="form-control search" placeholder="Search">-->
		<!--	                  <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>-->
		<!--	               </div>-->
		<!--	            </form>-->
		<!--	         </div>-->
		<!--         </div>-->
		<!--			<div class="row">-->
		<!--				<div class="col-sm-12 text-left menu-1">-->
		<!--					<ul>-->
		<!--						<li><a href="index.html">Home</a></li>-->
		<!--						<li class="has-dropdown active">-->
		<!--							<a href="men.html">Men</a>-->
		<!--							<ul class="dropdown">-->
		<!--								<li><a href="product-detail.html">Product Detail</a></li>-->
		<!--								<li><a href="cart.html">Shopping Cart</a></li>-->
		<!--								<li><a href="checkout.html">Checkout</a></li>-->
		<!--								<li><a href="order-complete.html">Order Complete</a></li>-->
		<!--								<li><a href="add-to-wishlist.html">Wishlist</a></li>-->
		<!--							</ul>-->
		<!--						</li>-->
		<!--						<li><a href="women.html">Women</a></li>-->
		<!--						<li><a href="about.html">About</a></li>-->
		<!--						<li><a href="contact.html">Contact</a></li>-->
		<!--						<li class="cart"><a href="cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a></li>-->
		<!--					</ul>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--	<div class="sale">-->
		<!--		<div class="container">-->
		<!--			<div class="row">-->
		<!--				<div class="col-sm-8 offset-sm-2 text-center">-->
		<!--					<div class="row">-->
		<!--						<div class="owl-carousel2">-->
		<!--							<div class="item">-->
		<!--								<div class="col">-->
		<!--									<h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>-->
		<!--								</div>-->
		<!--							</div>-->
		<!--							<div class="item">-->
		<!--								<div class="col">-->
		<!--									<h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>-->
		<!--								</div>-->
		<!--							</div>-->
		<!--						</div>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--</nav>-->

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<!--<p class="bread"><span><a href="index.html">Home</a></span> / <span>Shopping Cart</span></p>-->
					</div>
				</div>
			</div>
		</div>


		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-md-10 offset-md-1">
						<div class="process-wrap">
							<div class="process text-center active">
								<p><span>01</span></p>
								<h3>Shopping Cart</h3>
							</div>
							<div class="process text-center active">
								<p><span>02</span></p>
								<h3>Provide Address</h3>
							</div>
							<div class="process text-center">
								<p><span>03</span></p>
								<h3>Complete Payment</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-pb-lg">
					

				</div>
				<div class="row row-pb-lg">
					<div class="col-md-12">
						<div class="total-wrap">
							<div class="row">
								<div class="col-sm-8">
									<!--<form action = "#">-->
									<!--	<div class="row form-group">-->
									<!--		<div class="col-sm-9">-->
									<!--			<input id = "address" type="text" name="address" class="form-control input-number" placeholder="Address">-->
									<!--			<input id = "city" type="text" name="city" class="form-control input-number" placeholder="City">-->
									<!--			<input id = "pincode" type="text" name="pincode" class="form-control input-number" placeholder="Pin Code">-->
									<!--			<button id = "submit" type= "submit" value= "Submit" class= "btn btn-primary btn-block">Submit</button>-->
									<!--		</div>-->
									<!--		<div class="col-sm-3">-->
									<!--		</div>-->
									<!--	</div>-->
									<!--</form>-->
								</div>
								<div class="col-sm-4 text-center">
									<div class="total">
										<div class="sub">
											<p><span>Subtotal:</span> <span>Rs. <%= additionaldata.totalprice %></span></p>
											<p><span>Delivery:</span> <span>Rs. 0.00</span></p>
											<p><span>Discount:</span> <span>Rs. 0.00</span></p>
										</div>
										<div class="grand-total">
											<p><span><strong>Total:</strong></span> <span>Rs. <%= additionaldata.totalprice %></span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			<div style = "margin-left: 850px; margin-top: 20px;" >
            <form  id = "pay" action="/purchase" method="POST">
              <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="rzp_test_2ZhVhf0meouzDo"
                data-amount="<%= additionaldata.totalprice%>00"
                data-buttontext="Pay"
                data-name="IamRapid"
                data-description="3D-printing"
                data-image="<%=additionaldata.image%>"
                data-prefill.name="<%=additionaldata.username%>"
                data-prefill.email=""
                data-theme.color="#F37254"
              ></script>
              <input type="hidden" value="Hidden Element" name="hidden">
            </form>
            </div>
				</div>
			</div>
		</div>
		<footer id="footer">
		    <div class="footer-top">
		      <div class="container">
		
		      </div>
		    </div>
		
		    <div class="container">
		      <div class="copyright">
		        &copy; Copyright <strong>Dextrous Manufacturing pvt. ltd</strong>. All Rights Reserved
		      </div>
		      <div class="credits">
		      </div>
		    </div>
		  </footer><!-- #footer -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>
	
	
	
	 <script>
	// 	$('#submit').on('click', function(){
	// 		var address = $('#address').val();
	// 		var city = $('#city').val();
	// 		var pincode = $('#pincode').val();
	// 		var url = "/upload-user-address/" + address + "/" + city + "/" + pincode;
 //          fetch(url)
 //   	   .then(function(res){
 //              console.log(res);
 //              return res.json()
 //           })
 //           .then(function (data){
            	
 //           })
	// 	})
	</script>
	
	
	
	
	<!-- jQuery -->
	<script src="jscart/jquery.min.js"></script>
   <!-- popper -->
   <script src="jscart/popper.min.js"></script>
   <!-- bootstrap 4.1 -->
   <script src="jscart/bootstrap.min.js"></script>
   <!-- jQuery easing -->
   <script src="jscart/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="jscart/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="jscart/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="jscart/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="jscart/jquery.magnific-popup.min.js"></script>
	<script src="jscart/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="jscart/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="jscart/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="jscart/main.js"></script>

	</body>
</html>


